:root {
    --main-text-color: white;
    --secondary-color: rgb(18, 24, 40);
    --focus-color: rgb(108, 134, 162);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}
/* header */
.header {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header h1 {
    color: var(--focus-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigate a {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin: 35px;
    color: var(--focus-color);
    transition: 1s;
}

.navigate a:hover {
    color: var(--main-text-color);
}
/* home */
.greeting {
    display: flex;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.greeting article {
    margin-left: 100px;
    width: 100vh;
    padding-left: 15%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.greeting h1 {
    font-size: 60px;
    font-weight: 500;
    color: var(--main-text-color);
}

.greeting h2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--focus-color);
    text-decoration: underline;
}

.greeting h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0;
    color: var(--main-text-color);
}

.float-left {
    float: left;
    margin-left: 25px;
}

.greeting img {
    max-height: 500px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    transition: 1s;
}

.greeting img:hover {
    box-shadow: 1px 1px 30px white,
                1px 1px 50px white;

}
/* main */
.content {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* about me section */
.about {
    position: relative;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 250px;
}

.about h1 {
    font-size: 200%;
    position: absolute;
    top: -10px;
    left: -220px;
}

.about p {
    padding-left: 30px;
    padding-right: 160px;
    border-left: 5px solid black;
    font-size: 70%;
    text-align: center;
}
/* work content */
.work-content {
    position: relative;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 250px;
}

.work-content h1 {
    font-size: 200%;
    position: absolute;
    top: -10px;
    left: -220px;
}

.cards {
    padding-left: 10px;
    padding-right: 80px;
    border-left: 5px solid black;
    font-size: 20px;
    align-items: center;
    
}
/* first image */
.top-card {
    height: 700px;
    width: 1400px;
    margin: 50px;
    display:inline-block;
    position: relative;
}

.top-card img {
    height: 700px;
    width: 1400px;
    padding: 10px;
    background-color: var(--main-text-color);
    transition: 1s;
}

.top-card img:hover {
    box-shadow: 1px 1px 30px white,
                1px 1px 50px white;

}

.top-card h3 {
    background-color: var(--main-text-color);
    position: absolute;
    font-size: 150%;
    bottom: 45px;
    left: 2px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
/* smaller images */
.small {
    height: 350px;
    width: 650px;
    margin: 50px;
    display:inline-block;
    position: relative;
}

.small h3 {
    background-color: var(--main-text-color);
    position: absolute;
    font-size: 150%;
    bottom: 25px;
    left: 2px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.small img {
    height: 350px;
    width: 650px;
    padding: 10px;
    background-color: var(--main-text-color);
    transition: 1s;
}

.small img:hover {
    box-shadow: 1px 1px 30px white,
                1px 1px 50px white;

}
/* contact info */
.contact {
    position: relative;
    padding-top: 5px;
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 250px;
}

.contact h1 {
    font-size: 150%;
    position: absolute;
    left: -220px;
}

.contact a {
    border-left: 5px solid black;
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 20px;
    font-size: 50%;
}
/* footer */
footer {
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: black;
}

footer h2 {
    font-size: 20px;
}
/* screen sizing */
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    .cards {
        width: 100%;
      }
  }